html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color:  rgb(224, 0, 0);
    
    display: grid;
    grid-template-columns: minmax(min-content, 25vw) 1fr;
    grid-template-rows: minmax(min-content, 15vh) 1fr;
    grid-template-areas: 'sidebar header'
                         'sidebar content';
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: white;
}

.header {
    background-color: rgb(233, 40, 40);
    color: rgb(120, 62, 255);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.sidebar {
    background-color: rgb(224, 0, 0);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    overflow: auto;
}

.item {
    flex:1;
    background: rgb(57, 57, 57);
    padding: 1rem;
    margin: 0.5rem;
    height: max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.item:hover {
    color: aliceblue;
    background-color:  rgb(0, 64, 255);
}

.content {
    background-color: rgb(57, 57, 57);
    color: rgb(255, 255, 255);
    grid-area: content;
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
